* {
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  max-width: 500px;
  margin: auto;
  background: url('../../public/images/bg.jpg') no-repeat center center;
  background-size: cover;
}
#game-ct {
  display: none;
  height: 100%;
  background: url('../../public/images/bg-cover.png') no-repeat center center;
  background-size: cover;
  padding-bottom: 170px;
  box-sizing: border-box;
}
.game-intro .index-text-img {
  display: block;
  width: 45%;
  margin: 139px auto 0;
}
.bottom-btn-ct {
  position: absolute;
  width: 100%;
  bottom: 67px;
}
.bottom-btn-ct .start-btn {
  background: #ECFF00;
  border-radius: 100px;
  margin: 0 25px;
  font-size: 18px;
  color: #16142E;
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}
.bottom-btn-ct .start-btn:active {
  background: #bdcc00;
  transform: translateY(3px);
}
.game-over {
  text-align: center;
  display: none;
}
.game-over .text-gameover {
  margin-top: 103px;
  font-family: 'Roboto Condensed';
  font-size: 48px;
  color: #3945E6;
}
.game-over .text-score-title {
  font-family: 'Roboto Condensed';
  margin-top: 30px;
  font-size: 12px;
  color: #4F5BFF;
}
.game-over .text-score {
  font-family: 'Roboto Condensed';
  font-size: 100px;
  color: #FFFFFF;
}
.game-over .share-btn {
  height: 64px;
  width: 64px;
  display: block;
  cursor: pointer;
  margin: auto;
}
.container {
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  position: relative;
}
.container .controller .blood-ct {
  margin: 10px 17px;
}
.container .controller .blood-ct .blood {
  border: 1px solid #4955FF;
  border-radius: 5px;
  height: 6px;
  position: relative;
  overflow: hidden;
}
.container .controller .blood-ct .blood i {
  float: left;
  box-sizing: border-box;
  width: 8.333333333%;
  height: 100%;
  border-right: 1px solid #4955FF;
  background-color: #ECFD36;
}
.container .controller .blood-ct .blood i:last-child {
  border-right: none;
}
.container .controller .blood-ct .blood i.lose {
  background-color: transparent;
}
.container .controller .ctrl-ct {
  width: 50%;
  float: left;
  overflow: auto;
  position: relative;
  z-index: 100;
}
.container .controller .ctrl-ct .item {
  width: 64px;
  height: 64px;
  margin: 20px;
}
.container .controller .ctrl-ct .item img {
  width: 100%;
  display: block;
}
.container .controller .ctrl-ct .item.left {
  float: left;
}
.container .controller .ctrl-ct .item.right {
  float: right;
}
.container .controller .score-ct {
  position: absolute;
  bottom: 58px;
  width: 100%;
  text-align: center;
}
.container .controller .score-ct .text-score {
  font-family: 'Roboto Condensed';
  font-size: 48px;
  color: #FFFFFF;
}
.container .controller .score-ct .text-score-title {
  font-family: 'Roboto Condensed';
  font-size: 12px;
  color: #4F5BFF;
}
.canvas {
  height: 100%;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.canvas .people {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00acff;
}
.canvas .people.danger {
  animation: bgShake 0.3s step-end;
}
.canvas .scroller {
  height: 1000px;
  position: relative;
  transform: translate3d(0, 0, 0);
}
.canvas .scroller .floor {
  position: absolute;
  width: 90px;
  height: 10px;
  background-color: white;
}
.canvas .scroller .floor.weak {
  background-color: gray;
  transition: transform .3s ease;
  transform: rotateX(0deg);
}
.canvas .scroller .floor.weak.over {
  transform: rotateX(360deg);
}
.canvas .scroller .floor.nail {
  background-color: red;
}
.canvas .scroller .floor.scroll-left {
  background-color: cadetblue;
}
.canvas .scroller .floor.scroll-left:after {
  content: '<<<<<';
  display: block;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: white;
  font-style: initial;
}
.canvas .scroller .floor.scroll-right {
  background-color: cadetblue;
}
.canvas .scroller .floor.scroll-right:after {
  content: '>>>>>';
  display: block;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: white;
  font-style: initial;
}
.canvas .scroller .floor.spring {
  background-color: #ffd200;
}
@keyframes bgShake {
  0% {
    background-color: #00acff;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: #00acff;
  }
  75% {
    background-color: red;
  }
  100% {
    background-color: #00acff;
  }
}
