html,
body {
  position: relative;
  height: 100%;
}
body {
  max-width: 500px;
  margin: auto;
}
.container {
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
}
.container .controller .ctrl-ct {
  width: 50%;
  float: left;
  overflow: auto;
}
.container .controller .item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: rebeccapurple;
  color: white;
  text-align: center;
  font-size: 31px;
  margin: 20px;
}
.container .controller .item.left {
  float: left;
}
.container .controller .item.right {
  float: right;
}
.container .controller .score {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #2d2d2d;
  text-align: center;
}
.container .controller .score .floor-count {
  color: red;
  font-weight: bolder;
}
.container .controller .score .blood {
  color: red;
  font-weight: bolder;
}
.canvas {
  background: #eeeeee;
  height: 550px;
  position: relative;
  overflow: hidden;
}
.canvas .people {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}
.canvas .scroller {
  height: 1000px;
  position: relative;
  transform: translate3d(0, 0, 0);
}
.canvas .scroller .floor {
  position: absolute;
  width: 90px;
  height: 10px;
  background-color: gray;
}
.canvas .scroller .floor.weak {
  background-color: #b1b1b1;
  transition: transform .3s ease;
  transform: rotateX(0deg);
}
.canvas .scroller .floor.weak.over {
  transform: rotateX(360deg);
}
.canvas .scroller .floor.nail {
  background-color: red;
}
.canvas .scroller .floor.scroll-left {
  background-color: cadetblue;
}
.canvas .scroller .floor.scroll-right {
  background-color: cadetblue;
}
