@peopleColor: #00acff;
html, body {
    position: relative;
    height: 100%;   
}
body {
    max-width: 400px;
    margin: auto;
}
.container {
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    .controller {
        .ctrl-ct {
            width: 50%;
            float: left;
            overflow: auto;
        }
        .item {
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            background-color: rebeccapurple;
            color: white;
            text-align: center;
            font-size: 31px;
            margin: 20px;
            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
        }
        .score {
            display: block;
            margin-top: 10px;
            color: #2d2d2d;
            text-align: center;
            .floor-count {
                color: red;
                font-weight: bolder;
            }
            .blood {
                color: red;
                font-weight: bolder;
            }
        }
    }
}
.canvas {
    background: #eeeeee;
    height: 400px;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    .people {
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: @peopleColor;
        &.danger {
            animation: bgShake .3s step-end;
        }
    }
    .scroller {
        height: 1000px;
        position: relative;
        transform: translate3d(0, 0, 0);
        .floor {
            position: absolute;
            width: 90px;
            height: 10px;
            background-color: gray;
            &.weak {
                background-color: #b1b1b1;
                transition: transform .3s ease;
                transform: rotateX(0deg);
                &.over {
                    transform: rotateX(360deg);
                }
            }
            &.nail {
                background-color: red;
            }
            &.scroll-left {
                background-color: cadetblue;
                &:after {
                    content: '<<<<<';
                    display: block;
                    font-size: 10px;
                    line-height: 10px;
                    text-align: center;
                    color: white;
                    font-style: initial;
                }
            }
            &.scroll-right {
                background-color: cadetblue;
                &:after {
                    content: '>>>>>';
                    display: block;
                    font-size: 10px;
                    line-height: 10px;
                    text-align: center;
                    color: white;
                    font-style: initial;
                }
            }
            &.spring {
                background-color: #ffd200;
            }
        }
    }
}
@keyframes bgShake
{
    0% {
        background-color: @peopleColor;
    }
    25% {
        background-color: red;
    }
    50% {
        background-color: @peopleColor;
    }
    75% {
        background-color: red;
    }
    100% {
        background-color: @peopleColor;
    }
}